html
  head
    title CryptoNav
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='../../assets/css/main.css')
    noscript
      link(rel='stylesheet', href='../../assets/css/noscript.css')
  body.landing.is-preload
    // Page Wrapper
    #page-wrapper
      // Header
      header#header.alt
        h1
          a(href='') Coin
        nav#nav
          ul
            li.special
              a.menuToggle(href='#menu')
                span Menu
              #menu
                ul
                  li
                    a(href='/') Home
                  li
                    a(href='/cryptocurrency') Cryptocurrency 101
                  li
                    a(href='/blockchain') Blockhain 101
                  li
                    a(href='/posvspow') POW vs POS
                  li
                    a(href='/alg') Hashing algorithms
                  li
                    a(href='/nav') SPARQL Explorer
      // Banner
      section#banner
        .inner
          h2 #{coinname}
          div(class="w3-container")
            div(class="col-sm-3")
              img(src=logo,class="img-fluid",width="auto",height="200px")
          br
          div(class="w3-container-fluid")
            if about!=''
              h4(padding='5px 10px;') #{about} 
      section#one.wrapper.special
        table.center(align="center",style="width: auto;")
          tr
            td <b>Website:</b> 
            td 
              a(href=url,target="_blank") LINK
          if creator!=''
            tr
              td <b>Creator:</b> 
              td #{creator}
          if founded!=''
            tr
              td <b>Founded:</b> 
              td #{founded}
          if alg!=''
            tr
              td <b>Algorithm:</b> 
              td #{alg}
          if type!=''
            tr
              td <b>Protection Scheme:</b>
              td 
                a(href='/posvspow') #{type} 
          if breward!=''
            tr
              td <b>Block Reward:</b> 
              td #{breward} 
          if btime!=''
            tr
              td <b>Block Time:</b> 
              td #{btime} 
          if csupply!=''
            tr
              td <b>Current Supply:</b> 
              td #{csupply} 
          if maxsupply!=''
            tr
              td <b>Max Supply:</b> 
              td #{maxsupply} 
          if icoammount!=''
            tr
              td <b>Amount sold in ICO:</b> 
              td #{icoammount}
          if preamount!=''
            tr
              td <b>Amount of pre-mined coins:</b> 
              td #{preamount} 
          if netdif!=''
            tr
              td  <b>Network difficulty:</b> 
              td #{netdif}
          if nethash!=''
            tr
              td <b>Network hashrate:</b> 
              td #{nethash} 
          if price!=''
            tr
              td <b>Current price:</b>
              td #{price} 
          if whitepaper!=''
            tr
              td <b>Whitepaper:</b> 
              td
                a(href=whitepaper,target="_blank") LINK
      section#one.wrapper.special
        ul.actions.stacked
          li
            a.button.fit.primary(onclick='history.back(-1)') Go back.
        .inner
          script(src='/javascripts/jquery-3.3.1.min.js')
          script(src='https://d3js.org/d3.v5.min.js')
          script(src='https://unpkg.com/viz.js@1.8.0/viz.js' type='javascript/worker')
          script(src='https://unpkg.com/d3-graphviz@1.4.0/build/d3-graphviz.min.js')
          div
            div(id='graph')
              script!= renderingCode
    // Scripts
    script(src='../../assets/js/jquery.min.js')
    script(src='../../assets/js/jquery.scrollex.min.js')
    script(src='../../assets/js/jquery.scrolly.min.js')
    script(src='../../assets/js/browser.min.js')
    script(src='../../assets/js/breakpoints.min.js')
    script(src='../../assets/js/util.js')
    script(src='../../assets/js/main.js')
